.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    padding: 139px 0;
    @media (max-width: 767.98px) {
        gap: 100px;
        padding: 100px 0;
      }
    h2 {
        font-size: 288px;
        margin: 0;
        @media (max-width: 767.98px) {
            font-size: 96px;
          }
    }
    h3 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        text-align: center;
        @media (max-width: 767.98px) {
            font-size: 18px;
          }
    }
    a {
        color: #ff6060;
        font-size: 18px;
        @media (max-width: 767.98px) {
            font-size: 14px;
          }
    }
}