.home-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3em 7em 0;
    gap: 2em;
    padding-bottom: 2.5em;
    @media (max-width: 767.98px) {
        font-size: 12px;
        padding: 3em 2em;
    }
}